@model ConlagoS__Liga_Pro_de_Ecuador.Models.Equipo

<h2>Crear Nuevo Equipo</h2>

<form asp-action="CrearEquipo" method="post">
    <div>
        <label>ID del Equipo</label>
        <input asp-for="IdEquipo" class="form-control" />
        <span asp-validation-for="IdEquipo" class="text-danger"></span>
    </div>

    <div>
        <label>Nombre</label>
        <input asp-for="Nombre" class="form-control" />
    </div>

    <div>
        <label>Partidos Jugados</label>
        <input asp-for="PartidosJugados" class="form-control" />
    </div>

    <div>
        <label>Ganados</label>
        <input asp-for="PartidosGanados" class="form-control" />
    </div>

    <div>
        <label>Empatados</label>
        <input asp-for="PartidosEmpatados" class="form-control" />
    </div>

    <div>
        <label>Perdidos</label>
        <input asp-for="PartidosPerdidos" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success">Guardar</button>
</form>

<a asp-action="List" class="btn btn-secondary mt-3">Volver</a>
