@{
    ViewData["Title"] = "Inicio";
}

<div class="home-container text-center">
    <!-- Logo central -->
    <img src="~/images/ligapro-logo.png" alt="LigaPro" class="logo-img" />

    <h1 class="bienvenida-texto mt-4">Bienvenido a la LigaPro Ecuador</h1>

    <!-- Imágenes de los equipos -->
    <div class="equipos-container mt-5">
        <img src="~/images/equipos/equipo1.png" alt="Equipo 1" class="equipo-img" />
        <img src="~/images/equipos/equipo2.png" alt="Equipo 2" class="equipo-img" />
        <img src="~/images/equipos/equipo3.png" alt="Equipo 3" class="equipo-img" />
        <img src="~/images/equipos/equipo4.png" alt="Equipo 4" class="equipo-img" />
        <img src="~/images/equipos/equipo5.png" alt="Equipo 5" class="equipo-img" />
    </div>
</div>